.carousel-item img {
    width: 100%;
    height: 60vh;
}
.carousel-caption h3{
    color: #000;
    font-family: 'Lobster Two', cursive;
    font-size: 100px;
    color: #fe4a49;
}
.carousel-caption p{
    color: #000;
}
.intro{
    text-align: center;
}
.intro p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.product{
    text-align: center;
}
.pdesc{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.pdesc div{
    background-color: rgb(122, 122, 122);
    margin: 7px;
    padding: 10px;
    width: 20vw;
    border-radius: 10px;
    box-shadow: 3px 5px 2px rgb(224, 224, 224);
}
.pdesc h3{
    color: #fe4a49;
}
.pdesc p{
    color: #fff;
}
footer{
    background-color: #abddd1;
    height: 71px;
}
footer>p{
    text-align: center;
    color: #fff;
    margin-top: 20px;
}